html, body {
  font-family: $font-family-sans-serif;
}

body {
  position: relative;
  padding: 50px;
}

// 2018 ver of clearfix
.group:after {
  content: "";
  display: table;
  clear: both;
}

.yunhaseo-logo {
  text-decoration: none;
  border-bottom: none;
  width: 35px;
  float: left;
  padding: 0;
}

a {
  border-bottom: 0.15em solid #000000;
  text-decoration: none;
  font-weight: 700;
  color: #000000;
  @include transition(all, .3s, ease);

  &:hover {
    border-bottom: 0.15em solid transparent;
    text-decoration: none;
    color: #000000;
  }
}

#tinymce-description_ifr {
  height: 800px !important;
}