@mixin transition($what, $length, $style) {
  transition: $what $length $style;
  -o-transition: $what $length $style;
  -ms-transition: $what $length $style;
  -moz-transition: $what $length $style;
  -webkit-transition: $what $length $style;
}

@mixin background-image-style() {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin enlarge-image() {
  position: relative;

  &:after {
    background-image: linear-gradient(rgba(255,0,0,0), rgba(0,0,0,0.5));
    padding: 40px 20px 30px 40px;
    content: "enlarge";
    position: absolute;
    color: #ffffff;
    width: 100%;
    opacity: 0;
    bottom: 0;
    left: 0;
    @include transition(all, 0.2s, ease);
  }

  &:hover {
    cursor: pointer;
    &:after {
      opacity: 0.5;
    }
  }
}
