
// Body
$body-bg: #ffffff;

// Typography
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,600,600i&display=swap');
$font-family-sans-serif: 'IBM Plex Mono', monospace;

$bold: 600;
$regular: 400;

// Colors
$red: #c51f30;
$gold-darker: #d4af37;
$gold: #ddbf5f;
$gray: #adadad;

// Breakpoints
$tablet: 1024px;
$phone: 768px;
