
// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: sans-serif;
$font-family-korean: "Nanum Gothic", sans-serif;

// Colors
$red: #c51f30;
$gold-darker: #d4af37;
$gold: #ddbf5f;
$gray: #adadad;

// Breakpoints
$tablet: 1024px;
$phone: 768px;