footer {
  position: absolute;
  margin-top: 50px;
  bottom: 50px;
  float: left;

  a {
    display: inline-block;
    border-bottom: none;
    margin: 0 60px 0 0;
    padding: 10px 0;
    opacity: 0.3;
    @include transition(all, .3s, ease);

    &:hover {
      border-bottom: none;
      opacity: 1;
    }
  }
}