nav {
    transition: left 0.5s ease;
    background: #ffffff;
    overflow-y: scroll;
    min-height: 100vh;
    position: fixed;
    padding: 35px;
    width: 230px;
    z-index: 1;
    bottom: 0;
    left: 0;
    top: 0;

    p, a {
        //text-transform: lowercase;
        margin: 2px 0 !important;
        border-bottom: none;
        line-height: 1.4em;
        font-size: 0.8em;
        display: block;
        color: #000000;
        padding: 0;

        &.bold {
            font-weight: $bold;
        }

        &.link {

            &:hover {
                font-style: italic;
                cursor: pointer;
                color: $red;
            }

            &.active {
                color: $red;
            }
        }
    }

    .yunhaseo-logo {
        margin-bottom: 20px;
        cursor: pointer;
        width: 35px;
    }
}

.mobile-menu-button--open {
    transform: rotate(90deg);
    transform-origin: 0 0;
    position: fixed;
    left: 35px;
    top: 35px;

    &:hover {
        font-style: italic;
        cursor: pointer;
        color: $red;
    }
}
.mobile-menu-button--close {
    @extend .mobile-menu-button--open;
    position: absolute;
    display: none;
    width: 100%;
    left: 290px;
}
.mobile-menu-background {
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    display: none;
}
