nav {
  background: #ffffff;
  overflow-y: scroll;
  min-height: 100vh;
  position: fixed;
  padding: 35px;
  width: 300px;
  z-index: 1;
  bottom: 0;
  top: 0;

  p, a {
    text-transform: lowercase;
    border-bottom: none;
    line-height: 1.2em;
    display: block;
    color: #000000;
    padding: 0;
    margin: 0;

    &.link {
      &:hover {
        font-style: italic;
        cursor: pointer;
        color: $red;
      }

      &.active {
        color: $red;
      }
    }
  }

  .yunhaseo-logo {
    margin-bottom: 20px;
    width: 45px;
  }
}