.content-home {
    padding: 35px 40px;
    margin-left: 300px;
    display: none;

    p {
        max-width: 600px;
        margin: 15px 0;

        img {
            max-width: calc(100vw - 300px - 100px);
            height: auto !important;
        }
    }

    .project-list {
        column-count: 3;
        column-gap: 40px;

        @media screen and (max-width: $tablet) {
            column-count: 2;
        }
        @media screen and (max-width: $phone) {
            column-count: 1;
        }

        .project-thumbnail {
            display: inline-block;
            position: relative;
            margin: 0 0 15px 0;
            width: 100%;

            img {
                width: 100%;
            }

            p {
                //text-transform: lowercase;
                margin: 5px 0 0 0;
            }

            &:hover {
                cursor: pointer;

                p {
                    color: $red;
                }
            }
        }
    }

    .project {
        display: none;
        line-height: 1.5em;

        .project-name {
            margin-bottom: 20px;
            font-weight: $bold;
        }

        .project-description {
            margin: 20px 0 50px 0;

            em {
                font-style: italic;
            }

            img {
                margin: 20px 0;
            }

            > div {
                background: black;
                margin: 20px 0;
                padding: 30px;
                height: 50vh;

                iframe, object, embed {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }

    h1 {
        margin-top: 40px;
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 5em;
    }
}
