.content-home {
  padding: 35px 50px;
  margin-left: 300px;

  p {
    max-width: 600px;

    img {
      max-width: calc(100vw - 300px - 100px);
      height: auto !important;
    }
  }

  .project-list {
    column-count: 3;
    column-gap: 15px;

    @media screen and (max-width: $tablet) {
      column-count: 2;
    }
    @media screen and (max-width: $phone) {
      column-count: 1;
    }

    .project-thumbnail {
      display: inline-block;
      padding: 0 0 10px 0;
      position: relative;
      margin: 0 0 1em;

      img {
        width: 100%;
      }

      p {
        text-transform: lowercase;
        position: absolute;
        display: none;
      }

      &:hover {
        cursor: pointer;
        p { display: block; }
      }
    }
  }

  .project {
    display: none;

    .project-name {
      margin-bottom: 20px;
    }
    .project-description {
      margin: 20px 0 50px 0;

      em {
        font-style: italic;
      }
      img {
        margin: 20px 0;
      }
    }

  }

  h1 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 5em;
  }
}