.content-home {
  padding-bottom: 100px;
  margin-top: 25vh;

  .extra-padding {
    padding: 0 20px;
  }

  h1 {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 5em;
  }

  .korean-hello {
    margin-right: 50px;
    @include translate {
      content: "hello";
    }
  }

  .description {
    margin-bottom: 50px;
    line-height: 1.4em;
    font-size: 2.5em;
    width: 60vw;
  }
  .email {
    font-size: 2em;
  }

  .images {
    margin: 100px 0 150px 0;

    > div {
      display: inline-block;
      height: 600px;
    }

    .width-60 {
      background-color: $gray; // placeholder
      width: calc(60% - 40px);
      float: left;
    }
    .width-40 {
      background-color: $gold; // placeholder
      float: right;
      width: 40%;
    }
    .width-50-left {
      background-color: $gray; // placeholder
      width: calc(50% - 20px);
      float: left;
    }
    .width-50-right {
      background-color: $gray; // placeholder
      width: calc(50% - 20px);
      float: right;
    }
    .more {
      margin-top: 20px;
      float: left;
    }
  }

  a {
    @include transition(all, .2s, ease);
  }
}